* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --one-color-: #2196f3;
    --secundary-color: #212121;
    --tree-color: #ffffff;
    --four-color: #757575;
    --color-sub1: #00000033;
    --color-fondo: #2f303a;
    --five-color-contacts: #ffffff99;
    --colorPortafolio: #EEEEEE;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: var(--secundary-color);
    background-color: var(#ffffff);
    letter-spacing: 0.03em;
}

svg {
    fill: currentColor;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

address {
    font-style: normal;
}

.link {
    text-decoration: none;
    color: inherit;
}

/* HEADER */
.container{
    width: 1200px;
    margin: 0 auto;
}

.post-header{
    display: flex;
    align-items: center;
    height: 80px;
    justify-content: space-between;
}

.post-nav{
    display: flex;
    justify-content: space-between;
    gap: 90px;
    align-items: center;
}
.header-menu{
	display: flex;
	gap: 50px;
}
.logo {
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0.03em;
    text-align: right;
    color: #2196F3;;
}
.span-logo{
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0.03em;
    text-align: right;
}

.list-e img{
    border-radius: 0px;
}

.list{
    height: 251px;
    width: 270px;
}
.correo-nav{
    color: #757575;
    display: flex;
}

.name{
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0.03em;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 8px;
}

.p-h3{
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.03em;
    text-align: center;
}

.header-post {
    color: var(--secundary-color);
    font-size: 16px;
    letter-spacing: 0.02em;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-post:hover,
.header-post:focus {
    color: var(--one-color-);
    border-bottom: 4px solid var(--one-color-);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-bottom: 26px;
    border-radius: 2px;
}

.current{
    color: var(--one-color-);
    border-bottom: 4px solid var(--one-color-);
    padding-bottom: 26px;
    border-radius: 2px;
}


/* MODAL */
.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
    visibility: visible;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.modal.is-hidden{
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal-cont{
    width: 528px;
    height: 581px;
    max-height: 80vh;
    background-color: #fff;
    padding: 2rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    overflow: auto;
    border-radius: 4px;
    position: relative;
}

.c-btn{
    font-size: 28px;
    cursor: pointer;
    color: #000;
    background-color: #fff;

    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    width: 30px;
    height: 30px;

    position: absolute;
    top: 1rem;
    right: 1rem;
}

.c-btn:hover{
    transform: scale(1.2);
}

[data-modal] {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

[data-modal].is-hidden {
    display: none;
}

.form-group {
    margin-bottom: 20px;
    max-width: 448px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    max-width: 448px;
}

.input-group {
    display: flex;
    outline: none;
}

.input-group-icon {
    position: absolute;
    z-index: 1;
    padding: 10px;
}

.input-group-icon svg {
    width: 20px;
    height: 20px;
}

.input-group:focus-within > .input-group-icon {
    color: var(--one-color-);
}

form{
    padding: 10px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.form-control {
    width: 407px;
    height: 40px;
    padding-left: 40px;
    /* para dar espacio al ícono */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-size: 16px;
    line-height: 1.5;
}

.form-control:focus-visible{
    outline: none;
    border: 1px solid var(--one-color-);
}

textarea.form-control {
    height: 80px;
}

/* estilos específicos para el ícono de comentarios */
.icono-comentarios {
    fill: #ccc;
}
.btn-m{
    
}

.text-area{
    width: 427px;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    padding: 10px;
    outline: none;
}

.text-area:focus-visible{
    border: 1px solid var(--one-color-);
}

.checkbox{
    width: 16px;
    height: 15px;
    border: 0.2px solid rgba(255, 255, 255, 1);
    margin-right: 7px;
}
/* END MODAL */




/* END HEADER */


/* CONTACTS */

.contact{
    text-decoration: none;
    color: var(--four-color);
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    display: flex;
    gap: 50px;
}

.ico-nav {
    color: #757575;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ico-nav>svg {
    margin-right: 10px;
}

.ico-nav:hover {
    color: #2196F3;
    display: flex;
}

.contactos:hover,
.contactos:focus {
    color: var(--one-color-);
}


/*titulo*/
.test-h1 {
    color: var(--tree-color);
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    width: 696px;
    height: 120px;
    margin-bottom: 30px;
    align-content: center;
}

.fondo-h1 {
    color: var(--color-fondo);
    background-image: linear-gradient(#2F303A66, #2F303A66), url(../img/img-section.png);
    height: 600px;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 32px;
}
.button-h1 {
    color: var(--tree-color);
    background-color: var(--one-color-); 
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer; 
    border: none; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    justify-content: center;
    padding: 10px 32px;
}

.button-h1:focus-visible{
    outline: none;
}

.botones-1{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-top: 50px;
}

.botones{
    margin-left: 10px;
}

.botones:hover{
    box-shadow: 0px 2px 2px 0px #0000001F;
    box-shadow: 0px 1px 2px 0px #00000014;
    box-shadow: 0px 3px 1px 0px #0000001A;
}

.subtitulo1 {
  color: var(--color-sub1 --four-color);
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
}


/*SECCION NUESTRO EQUIPO*/
.color-e {
    background: #F5F4FA;
    height: 648px;
}

.images-index {
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
    width: 1170px;
    height: 428px;
}

.list-e {
    background: #FFFFFF;
    /* material shadow v1 */
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin-left: 10px;
}

.subtitulo {
    color: var(--secundary-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0.03em;
    text-align: center;
    padding: 50px;
}

.name {
    color: var(--secundary-color);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}

.p-h3 {
    color: var(--four-color);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

.iconos-equipo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconos-items {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #AFB1B8;
    border-radius: 50%;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.iconos-items:hover {
    color: var(--colorPortafolio);
    cursor: pointer;
    background-color: var(--one-color-);
    border-radius: 50%;
}

/*FIN SECCION NUESTRO EQUIPO*/


/*SECCION CLIENTES REGULARES*/
.color-cr {
    background: #fff;
    height: 400px;
}

.list-cr{
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    width: 170px;
    height: 81px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #AFB1B8;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-cr:hover{
    border: 1px solid #2196F3;
    color: #2196F3;
    
}

.list-cr img{
    height: 52.826087951660156px;
    width: 106px;
}

.iconos-cr{
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
    width: 1170px;
}

.iconos-re {
    width: 106px;
    height: 60px;
}

/*END SECCION CLIENTES REGULARES*/

/*pg*/

.botones {
    color: var(--secundary-color);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    border: none;
    padding: 6px 24px;
    border-radius: 5px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.botones:hover {
    color: var(--tree-color);
    background-color: var(--one-color-);
    cursor: pointer;
}
.botones:focus {
    color: var(--tree-color);
    background-color: var(--one-color-);
}

.subtittle {
    color: var(--secundary-color);
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
}

.paragraph {
    color: var(--four-color);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

.titulos{

    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #212121;
    text-decoration: none;
}
.services-ul{
    width: 1170px;
    height: 251px;
    display: flex;
    margin-top: 20vh;
    flex-flow: row wrap;
    justify-content: space-between;
}

.iconos{
    height: 120px;
        width: 270px;
        border-radius: 4px;
        background: #F5F4FA;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
}

.iconos-in{
    height: 70px;
    width: 65.31558227539062px;
    border-radius: 0px;
}

.parrafo {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #757575;
    margin-top: 26px;
}



/*PORTAFOLIO*/
.img-port{
    height: 294px;
    width: 100%;
    border-radius: 0px;
    color: var(--colorPortafolio);
    display: flex;
}

.error-img{
    height: 288px;
    width: 370px;
}

.col-imagen{
    margin-top: 50px;
    margin-bottom: 100px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.subtittle{
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.06em;
    text-align: left;

}

.list-port {
    box-sizing: border-box;
    margin-top: 20px;
    margin-left: 10px;

    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    display: inline-block;
    list-style-type: none;
    text-decoration: none;
    flex-basis: calc((100% - 60px) /3);
    cursor: pointer;

    position: relative;
}

.list-port:hover{
    transform: translateY(-5px);
}

.overlay  {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 294px;
    opacity: 0;
    transition: opacity 0.5s;
    background: #2196F3E5;
}

.list-port:hover .overlay{
    opacity: 0.8;
}

.p-overlay{
    position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        text-align: center;
        font-size: 24px;
        height: 294px;
        width: 100%;
        margin: 0;
        padding: 30px;
}

.list-port:hover{
    border: 1px solid #EEEEEE;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.content-port{
    padding: 10px;
}
/*END PORTAFOLIO*/



.botones-list{
    list-style-type: none;
    display: flex;
}

.about{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.list-about{
    width: 370px;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.list-about img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.list-about-text{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
    font-family: Roboto;
    font-weight: 700;
    text-align: center;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 16.41px;
}

.son-list{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.btn-1{
    background-color: var(--one-color-);
    color: #fff;
}


/*FOOTER*/
.footer {
    background: #2F303A;
    display: flex;
}

.footer>div {
    height: 252px;
    display: flex;
    background: #2F303A;
    text-align: left;
    padding: 30px;
    flex-flow: row wrap;
}

.left-f {
    flex: 0 270px;
}

.center-f {
    flex: 1 1 auto;
}

.right-f {
    flex: 3 1 auto;
}

.direccion-footer {
    width: 231px;
}

.info-pie {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #fff;
}

.info-pie-f {
    color: #FFFFFF99;
}

.redes-f {
    width: 204px;
    height: 48px;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
}

.iconos-ft {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: #FFFFFF1A;
    border-radius: 50%;
    cursor: pointer;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.iconos-ft:hover {
    background-color: #2196F3;
}

.p-f {
    color: var(--colorPortafolio);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-align: left;
}

.email-form {
    display: flex;
}

.e-ft {
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    padding: 10px;
    margin-right: 10px;
    font-size: 16px;
    color: #fff;
    outline: none;
    height: 29px;
    background-color: #2F303A;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    width: 337px;
}

button[type="submit"] {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    color: #fff;
    background-color: #2196F3;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.s-ft{
    margin-left: 20px;
}
/* 
button[type="submit"]:hover {
    background-color: #f2f2f2;
} */

/*END FOOTER*/