@media screen and (min-width: 768px) {
  .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: $primary-white-color;

    &__container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      fill: $primary-black-color;
      display: none;

      &:hover,
      &:focus {
        fill: var(--accent-color);
      }
    }
  }
}
