$primary-black-color: #212121;
$primary-text-color: #757575;
$primary-white-color: #ffffff;

$accent-color: #2196f3;
$background-black: #21303a;
$background-black-dark: #2f303a;
$background-light: #f5f4fa;
$button-filter: #f5f4fa;
$button-primary-hover: #188ce8;
$logo-black: #000000;
$text-white-opacity: #ffffff99;
$folio-border: #ececec;

$gray-1: #f5f4fa;
$gray-2: #afb1b8;
$black-1: #000000;

$transition-time: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);

$container-padding: calc((100% - 1200px) / 2);

$base-color: #2f303a66;
